.nav-logo {
    width: 15rem;
}

.hero {
    background-image: url("../media/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% 50%;
}

.overlay {
    background: linear-gradient(0.25turn, hsla(0, 0%, 70%, 0.3) 30%, #00199F);
}

@media (max-width: 768px) {
    .nav-logo {
        width: 13rem;
    }
}

.btn {
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    padding: 0.8rem 1.4rem;
}